@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
/* <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"> */
.App {
  font-family: 'Montserrat', sans-serif;
  color: #3498db;
  text-align: center;
  height:98vh;
  display:grid;
  grid-template-rows: 2fr 7fr;
  background-color: #f39c12;
}

